<div id="pending-flights">
    <div class="flightCard">
        <div class="flightCardImg"><img src="../../assets/madrid.jpg" alt=""></div>
        <div class="flightDetails">
            <div class="flightDetailsParts">
                <div class="flightDetailsFirstPart">
                  <div>
                    <p class="flightDetailsFirstPartArrivalLocation"></p>
                    <p class="flightDetailsFirstPartDate"></p>
                  </div>
                  <div>
                    <p class="flightDetailsFirstPartAirline"></p>
                    <p class="flightDetailsFirstPartflightClass"><span class="flightDetailsFirstPartPrice"></span></p>
                  </div>
                </div>
              </div>
              <div class="flightDetailsParts">
                <div class="flightDetailsSecondPart">
                  <div class="flightDetailsSecondPartFlightScheme">
                    <div>
                      <div class="flightDetailsSecondPartFlightSchemeUpper"><span></span></div>
                      <div class="flightDetailsSecondPartFlightSchemeLower"><span></span></div>
                    </div>
                    <div>
                      <div class="flightDetailsSecondPartFlightSchemeUpper"><span> ------ <mat-icon>flight_takeoff</mat-icon> ------ </span></div>
                      <div class="flightDetailsSecondPartFlightSchemeLower"><span> </span></div>
                    </div>
                    <div>
                      <div class="flightDetailsSecondPartFlightSchemeUpper"><span></span></div>
                      <div class="flightDetailsSecondPartFlightSchemeLower"><span></span></div>
                    </div>
                  </div>
                  <div class="flightDetailsSecondPartButtonArea">
                    <button class="flightDetailsSecondPartButton">Flight Details</button>
                  </div>
                </div>
              </div>
        </div>
</div>
</div>