<div id="popular-flights">
    <div>
        <div class="popular-header">
            <h2>Popular Routes</h2>
        </div>
        <div class="card-container">
            <div class="card" *ngFor="let card of cards">
                <img [src]="card.image" alt="{{card.title}}" class="card-image">
                <div class="card-details">
                    <h3 class="card-title">{{card.title}}</h3>
                    <p class="card-price">{{card.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>