.faq {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.faq-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: auto;
}

.faq-container h1{
    margin: auto;
    margin-bottom: 30px;
}
  
  .faq-category {
    margin-bottom: 20px;
    width: 300px;
    margin: auto;
    
  }
  
  .faq-category-title {
    cursor: pointer;
    padding: 4px;
    text-align: center;
    border-radius: 6px;
    background-color: #eee;
    
  }
  
  .faq-questions {
    margin-top: 10px;
    overflow: hidden;
  }
  
  .faq-question h3 {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #009688;
  }
  
  .faq-question p {
    width: 300px;
    margin: 0 0 0 10px;
    padding: 0;
  }
  