  <div class="faq">
    <div class="faq-container">
      <h1>Frequently Asked Questions</h1>
      <div *ngFor="let faq of faqs let i = index" class="faq-category">
        <h2 (click)="toggleCategory(faq)" class="faq-category-title">
          {{ faq.category }}
        </h2>
        <div [@slideToggle]="faq.isOpen ? 'open' : 'closed'" class="faq-questions">
          <div *ngFor="let question of faq.questions" class="faq-question">
            <h3>* {{ question.question }}</h3>
            <p>{{ question.answer }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

