.container {
    max-width: 1100px;
    margin: 0 auto;
}

.secrion-header {
    background-color: #222;
    color: #fff;
}

hr {
    border: 1px solid rgb(54, 54, 54);
    margin-top: 0px;
}

h1 {
    font-size: 45px;
    padding: 50px 0px 10px 0px;
}

p {
    font-size: 20px;
}

.accordion {
    padding: 20px 0px;
}