<section class="section-faq" style="margin-bottom: 50px;">
    <div class="container">
        <h1 style="text-align: center; margin-bottom: 20px;" >- Frequently Asked Questions -</h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Top Questions
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>- Which transactions are charged with the Call Centre Transaction Fee?</p>
                    <p>- Can I make changes to my reservation or purchase services after I checked in online?</p>
                    <p>- AirFlight changed my flight. What happens to my selected seat?</p>
                    <p>- How can I submit a claim?</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  How to book
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>- Is it safe to book a ticket online?</p>
                    <p>- Can I book connecting flights?</p>
                    <p>- What should I do if two passengers within one reservation have the same name (e.g. father and son)?</p>
                    <p>- My partner and I just booked a flight but we will have gotten married by the time we travel and the booking contains my wife’s maiden name. What shall we do?</p>
                    <p>- Which transactions are charged with the Call Centre Transaction Fee?</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                  Children and Infants
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>- How can I travel with my child?</p>
                    <p>- Are infants entitled to a baggage allowance?</p>
                    <p>- Can children under 14 travel alone?</p>
                    <p>- How can I take an infant car seat on board?
                </div>
              </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Payments
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <p>- What should I do if my credit card was rejected?</p>
                      <p>- When is my booking confirmed?</p>
                      <p>- What forms of payment does AirFlight accept?</p>
                      <p>- When do I have to transfer the money if I pay by bank transfer?</p>
                      <p>- How do I know if AirFlight received my bank transfer payment?</p>
                      <p>- I booked a flight and the amount debited from my credit card is incorrect. What shall I do?</p>
                      <p>- Why is a different amount charged on my credit/debit card than the final price on my booking confirmation?</p>
                      <p>- I booked yesterday but the fares are cheaper today. How can I claim the difference?</p>
                      <p>- I reserved a flight requesting bank transfer payment, but I would like to change this and pay by credit card instead. Is it possible?</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Baggage
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <p>- How can I be sure that my cabin baggage will be carried in the cabin?</p>
                      <p>- My hand luggage went to the hold and my medicine/jewellery/laptop was stolen/damaged. Can I receive any compensation? Do the 'excluded from hold baggage limitations' apply to my case?</p>
                      <p>- What shall I do if my bag goes to hold and I have my food in it?</p>
                      <p>- Can I get a refund on my unused checked baggage fee?</p>
                      <p>- I already have a reservation. How do I buy additional items of baggage?</p>
                      <p>- Is checked-in baggage included in the price of my flight?</p>
                      <p>- I booked a heavy (32 kg) check-in bag and I would like to add another, light checked-in bag (20kg) for the same flight. How can I do that?</p>
                      <p>- Can I carry liquid in my cabin bag?</p>
                      <p>- How can I carry my medication?</p>
                      <p>- Can I carry my pet on AirFlight flights?</p>
                      <p>- How can I carry fragile items such as kitchenware or items of an unusual shape or size?</p>
                      <p>- What should I do if my baggage has been damaged during the journey?</p>
                      <p>- What should I do if my baggage is lost?</p>
                      <p>- I left my belongings on board. Who should I contact?</p>
                      <p>- Can I carry liquid in my cabin bag?</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                    Seat Allocation
                  </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <p>- How can I select my seat?</p>
                      <p>- Which seats can I select from?</p>
                      <p>- AirFlight changed my flight. What happens to my selected seat?</p>
                      <p>- I changed my flight. What happens to my selected seat?</p>
                      <p>- Where are my seats located on the aircraft?</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                    Travel Documents
                  </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <p>- I have all the necessary travel documents but I have been refused entry. Can I get a refund?</p>
                      <p>- What documents do I need to bring?</p>
                      <p>- My passport will expire before my return flight. What shall I do?</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                    Privilege Pass
                  </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                      <p>- When can I buy privilege pass membership?</p>
                      <p>- Can I use the benefits of this membership for the rest of my family?</p>
                      <p>- Can I change the name of the membership's holder?</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
</section>